<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title th:text="${production.name}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">E-Commerce</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="'/profile/'+${authUsername}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log-out</a>
            </li>
        </ul>
        <form action="/production/search" class="form-inline my-2 my-lg-0" method="get">
            <input aria-label="Search" class="form-control mr-sm-2 border-success" name="s" placeholder="Search"
                   type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container" style="margin-top: 5%; margin-bottom: 5%">
    <div th:if="${production} != null">
        <p>Name: [[${production.name}]]</p>
        <p>Owner: <a th:href="'/profile/'+${production.owner}">[[${production.owner}]]</a></p>
        <p>Price: [[${production.price}]]</p>
        <p>Stock: [[${production.stock}]]</p>
        <p>Description: [[${production.description}]]</p>
        <ul>
            <li th:each="image : ${images}">
                <img height="150" th:src="'/image/production/'+${image.id}" width="150">
            </li>
        </ul>
    </div>
    <div th:unless="${production} != null">
        <p>No such production</p>
    </div>
</div>
</body>
</html>